/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1140,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

/* :root {
    --step--2: clamp(0.64rem, calc(0.47rem + 0.23vw), 0.52rem);
    --step--1: clamp(0.63rem, calc(0.56rem + 0.34vw), 0.80rem);
    --step-0: clamp(0.75rem, calc(0.65rem + 0.49vw), 1.00rem);
    --step-1: clamp(0.90rem, calc(0.76rem + 0.68vw), 1.25rem);
    --step-2: clamp(1.08rem, calc(0.89rem + 0.94vw), 1.56rem);
    --step-3: clamp(1.30rem, calc(1.04rem + 1.28vw), 1.95rem);
    --step-4: clamp(1.56rem, calc(1.21rem + 1.73vw), 2.44rem);
    --step-5: clamp(1.87rem, calc(1.40rem + 2.31vw), 3.05rem);
  } */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: relative;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
   
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
  clear: both;
  }

  a {
    text-decoration: none;    
}

html {
    /* font-size: 16px; */
    font-size: min(1.75vh,1.5vw);
}

  h2 {
    background: black;
    color: white;
    width: fit-content;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: .4rem; 
  }

/* Header */

header {
    display: grid;
    grid-template-columns: .8fr 1.25fr 1fr;
    grid-template-rows: .5fr 2fr;
    height: 100vh;
}


@media screen and (max-width: 480px){
    header {
        max-height: 20vh;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3%;
    }
}
/* Port Img */

.portimg-grid-1 {
    grid-row: 1 / 4;
    background: #f8f8f8;
    width: 100%;
    height: 140%;
}

@media screen and (max-width: 480px) {
    .portimg-grid-1 {
        display: none;
    }
}

.side-img-container {
    width: 70%;
}

.side-img {
    width: 85%;
    height: 100%;
    background-image: url(../assets/portfoliobg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    .side-img {
        display: none;
    }
}

/* Logo */

.tart-logo-cont {
    width: 50%;
    height: 100%;
    display: flex; 
}

.tart-logo-cont 
img {
    width: 20%;
    height: fit-content;    
}

/* Nav */

.nav-grid-2 {
    background: #231f20; 
    grid-column: 2/4;   
}

@media screen and (max-width: 480px) {
    .nav-grid-2 {
        grid-column: 1/4;
    }
}

.nav-section {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

@media screen and (max-width: 480px) {
    .nav-section {
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }
}

.header-nav a,
.header-nav a:visited
.header-nav a:hover
.header-nav a:active {
    color: #ababab;
}

.header-nav {
    display: flex;
    flex-direction: row;
    width: 50%;
}

@media screen and (max-width: 480px) {
    .header-nav {
        width: 100%;
        justify-content: space-evenly;
    }
}

.header-nav
li {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10%;
}

@media screen and (max-width: 480px) {
    .header-nav
    li {
        margin-left: 0;
    }
}


.home 
a {
    background-color: #00edff;
    color: black;
    padding: .5rem;
    font-weight: bolder;
}

/* Nav Social Links */

.social a,
.social a:visited,
.social a:hover,
.social a:active { 
    color: white
}

.social-div {
    display: flex;
    width: 50%;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .social-div {
        width: 100%;
        margin-top: 4%;
    }
}

.social {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}



.social 
li {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;    
    background-color: #231f20;
    color: white;
}

/* Squares of pain */

 .header-grid-3 {
    grid-row: 2/4;
    background: #00edff;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .header-grid-3 {
        grid-column: 1/4;
        border: solid 2px #231f20
    }
}


.header-grid-3
h1 {
    position: absolute;
    z-index: 3;
    left: 12%;
    top: 50%;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 8rem;
    letter-spacing: .1rem;
    color: black;
}

@media screen and (max-width: 480px) {
    .header-grid-3
    h1 {
        position: revert;
        display: block;
        text-align: center;
        margin-top: 4%;
    }
}


h1
span {
    background: white;
    line-height: initial;
    padding: 0 .5rem;
}

.main-photo {
    background-color: black;
    position: relative;
    height: 80vh;
    left: 4%;
    top: 5%;
}

.black-space {
    background: #231f20;
}


@media screen and (max-width: 480px) {
    .main-photo {
        display: none;
    }
}

/* About */

.about {   
    width: 63%;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: 37%;
    top: -20%;
    padding-right: 10%;
}

.about 
p {
    color: #686868;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    width: 100%;
    margin-bottom: 1%;
}

.about 
span {
    color: #00edff;
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
}

.about
span
span {
    border-bottom: solid thin #00edff;
}

/* Skills */

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 16rem;
    left: 35%;
    width: 60%;
}

@media screen and (max-width: 480px) {
    .skills {
        display: flex;
        position: revert;
        width: 70%;
        margin: 0 auto;
    }
}

.skills
h3 {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;    
}

.skills 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #686868;
    line-height: 1.67;
    margin-top: 0.5rem;
    width: 100%; 
}

@media screen and (max-width: 480px) {
    .skills
    h3,p {
        display: flex;
        justify-content: center;
        text-align: center;        
    }
}

/* Projects */

.projects {
    margin-top: 18%;
}

@media screen and (max-width: 480px) {
    .projects {
        margin-top: 5%;
        height: 107vh;
    }
}

.projects
h2 {
    margin: 0 0 1% 11.25%;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .recent-projects-div
     {
        text-align: center;
        margin: 0 0 1% 0;
    }
}

@media screen and (max-width: 480px) {
    .recent-projects-div
    h2 {
        text-align: center;
        margin: 0 0 1% 0;
        padding: 1rem 2rem;
    }
}

.projects-container {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    width: 77.5%;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;    
    grid-row-gap: 1%;  
}

@media screen and (max-width: 480px) {
    .projects-container{
        height: 40vh;
        display: block;
    }
}

.projects a,
.projects a:active
.projects a:hover
.projects a:visited {
    color: #231f20;
} 


h4 {
    font-family: 'Oswald', sans-serif;
    color: #231f20;
    font-weight: bold;   
    background: white;
    width: fit-content;    
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    align-self: flex-end;
    grid-column: 1;
    grid-row: 2; 
    border-top: .5vh solid #00edff;
    border-right: .5vh solid #00edff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    h4 {
        border-top: .3vh solid #00edff;
        border-right: .3vh solid #00edff;
    }
}

/* first project */

.firstProject {
    background-image: url(../assets/firstImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}


/* second project */

.secondProject {
    background-image: url(../assets/legendsbnb.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/2;
    display: grid;
    grid-column: 2/6;
    margin-left: 1%;
}

/* Projects 3 4 5 */


/* third project */

.thirdProject {    
    background-image: url(../assets/rpgdice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-row: 2;
} 


/* fourth project */

.fourthProject {
    background-image: url(../assets/pf2e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin-left: 2%;
}

/* fifth project */

.fifthProject {
    background-image: url(../assets/pomotimer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin-left: 2%;
    grid-column: 3;
}

@media screen and (max-width: 480px) {
    .projects
    a {
        background-size: cover;
        height: 50%;
        margin-left: 0;
        margin-top: 2%;
    }
}


/* Footer */

.footer {
    height: fit-content;
    margin-top: 8%;
    background: #231f20;
    padding-bottom: 1%;
}

.footer-h5-wrap {
    display: flex;
    justify-content: center;
}

.footer-h5-wrap
h5 {
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    color: #231f20;
    font-size: 2.5rem;
    position: relative;
    bottom: 3.5rem;
    background: white;
    z-index: 2;
    padding: 2%;
    border-top: solid 1rem #00edff;
    border-left: solid 1rem #00edff;
    margin-right: 1rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.get-in-touch{
    grid-column: 2;
}

.get-in-touch
span {
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

.end-paragraph {
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    color: #fbfbfb;
    grid-column: 2;
    margin-top: 3%;     
}

.contact {
    grid-column: 2;
    margin-top: 3%;
    margin-bottom: 5%;
}

.contact
a {
    color: #00edff;
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

.contact
a 
span{
    color: #00edff;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: solid 1px #00edff;
    border-bottom-width: 2px;
    line-height: 1.5rem;
}

.foot-note {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .foot-note {
        margin-top: 5%;
    }
}

.foot-note
p {
    color: #ffffff;
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
    padding-left: 5%;
}

.social-two-wrapper {
      grid-column: 3;
}

.social-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.social-two a,
.social-two a:active
.social-two a:hover
.social-two :visited {
    color: #ffffff;
}

.social-two
li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 1rem;
}