/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }


  textarea {
    resize: none;
  }

  /* ul input {
    width: 30px;
  } */
  
  input {
	display: flex;
	text-align: center;
}

/* containers */
	/* cont 1 */
 .container-1 {
	display: flex;
	flex-direction: row;
 }
  	
/* cont 2 */
.container-2 {
	display: flex;
	flex-direction: row;	
}  

  /* cont 3 */
.container-3 {
	display: flex;
	flex-direction: row;
}

  

  .weaponprof-wrapper{
	border: solid thin red;
  }

  .skills-wrapper{
	border: solid thin red;
  }




/* Header - name,level,xp,ancestry,background,heritage,class,size,alignment,traits,deity,hero-points */
.char-wrapper{
	border: solid thin red;
	display: flex;
	flex-direction:	row;
	width: 30%;
	line-height: 30px;
	
	align-items: center;
  }

.container-1 
span {
	display: flex;
	justify-content: center;
}

.container-1 
ul {
	width: 100%;
}

.container-1 
li {	
    display: flex;
    flex-direction: column;
}

.container-1 
.larger-input {
	width: 50%;
}

.container-1 input {
	display: flex;
	align-self: center;
	width: 60px;
	text-align: center;
}

/* ancestry */

.ancestry-wrapper {
	border: solid thin darkgreen;
	display: flex;
	flex-direction: column;
	width: 70%;
  }

.ancestry {
	display: flex;	
	width: 100%;
	line-height: 30px;
}

.ancestry span {
	justify-content: start;
	
}

.ancestry
input {
	align-self: flex-start;
}

.ancestry
textarea {
	width: 50%;
}

.group-1 {
	display: flex;	
	justify-content: center;
	width: 60%;
}

.group-1
select {
	width: 100px;
	text-align: center;
}

.group-1
span {
	justify-content: flex-start;
	width: 50%;
}
.group-1
li {
	flex-direction:column;
}

.group-1
.traits {
	width: 100%;
}

/* Ability scores, AC, HP, Percep */
/* this needs WORK */

.ability-wrapper{
	border: solid thin red;	
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	line-height: 30px;
  }
  
  .group-2
  ul{	
	display: flex;
	flex-direction: column;
  }

  .group-2
  li {
	display: flex;
	justify-content: right;
  }

  .group-2 input ~ span{
	padding-left: 5px;
  }


.ability-wrapper
input {
	width: 40px ;
	text-align: center;
}

/* class dc */
.classdc-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	line-height: initial;
	margin-top: 10px;
}

.classdc-wrapper
li {
	display: flex;	
	justify-content: center;	
}

.classdc-wrapper
input {
	line-height: 30px;
	text-align: center;
}

/* bottom */

.classdc-bottom{
	margin-top: 5px;
}

.classdc-bottom
input {
	line-height: 25px;
}

.classdc-bottom
select {
	height: 30px;
}

.classdc-bottom
ul{
	display: flex;
	flex-direction: row;
	align-items: flex-end;	
	text-align: center;
}

.classdc-bottom
li {
	padding-left: 5px;
}


/* Armor */

.armor-wrapper {
	border: solid thin red;
	width:40%;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
  }

  .armor-wrapper > span {
	text-align: center;
  }

  .armor-wrapper
  input {
	width: 40px;
  }

  	.ac-wrapper
	ul {
		display: flex;
		justify-content: center;
	}

	.ac-wrapper
	li {
		display: flex;
		flex-direction: row;
		margin: 5px 0;
		padding-left: 10px;
	}

	.armor-type-wrapper
	ul {
		display: flex;
		flex-direction: row;
		line-height: normal;
		margin: 10px 0;
		justify-content: center;
	}
		.armor-type-wrapper
		li {
			text-align: center;
			padding-left: 10px;
		}
	/*shield info  */
	.shield-wrapper
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

		.shield-wrapper
		input {
			display: flex;			
			justify-content: center;
			padding-left: 10px;
		}

		
		h4 {
			display: flex;
			justify-content: center;
			margin: 5px 0;
		}

/* saving throws */

	.saves-wrapper{
		display: flex;
		justify-content: right;
		margin: 10px 0;
		width: 80%;
	}

	.test {
		display: flex;
		justify-content: center;
	}

		.saves-wrapper
		ul {
			display: flex;			
		}

		.saves-wrapper
		li {
			padding-left: 10px;
		}

/* HP Section */

.hp-wrapper {
	border: solid thin red;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;	
  }

  .hp-wrapper
  input {
	width: 50px;
  }

  /* Perception box */
  .perception-wrapper{
    border: solid thin red;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	line-height: 30px;
	font-size: 16px;
  }

  	.perception-wrapper
	input {
		width: 50px;
		
	}

	.perception-wrapper
	select {
		margin-top: 1em;
	}

	.senses{
		display: flex;
    	flex-direction: column;
    	align-self: center;
	}

	.senses
	textarea {
		width: 11em
	}
