/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }



/* input */

input {
	text-align: center;
	border-radius: 5px;
	font-weight: 700;
	padding: 1px;
	line-height: 1.1em;
}

input {
	border: none;
	outline-width: 0;
}

.number-input{
	width: 30px;
}
  	/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

	/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hero-points-div
input{
	border-radius: 5px;
}

input[type=checkbox] {
	accent-color: black;
	cursor: pointer;	
  }

  /* font styles */
  html,body,input,select,textarea{
	font-size: 14px;
	font-family: 'David Libre', sans-serif;
  }

  input:placeholder-shown{
	font-weight: 400;
  }

  header{
	font-size: 2em;
	border: solid 3px black;
	text-align: center;
  }


/* html,body */
  html,body{
	background-color: rgb(79, 7, 7);
	color: white;
  }

  
select {
	border-radius: 5px;
}

/* textarea resize */
  textarea {
    resize: none;
  }

/* ------------------- */


/* main conts */
#main-container {
	display: flex;
	flex: 1;
}

/* .main-container-right {
	flex: 1;
} */

/* Left Side Bar */

.left-side-bar {
	display: inline-block;
	width: 26em;
	
}

/* General Character Information / Top section*/

.char-container{	
	border: solid 3px black;
	text-align: center;
    display: flex;
    align-items: center;
    height: 10vh;
    /* width: 50vw; */
    background-color: rgb(79, 7, 7);
    color: white;
	border-top: 0;
}
.text-border {
	border: solid 2px black; 
	border-radius: 5px;
	text-align: center;
	padding: .5em 1em;
}

.hero-points-div{
	display: flex;
    width: 5em;
    justify-content: center;
}



/* KEEP MESSING WITH THE HTML LAYOUT ALMOST THERE */

/* MODAL WEAPONS */

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: fixed; */
	opacity: 0;
	pointer-events: none;
	/* top: 0;
	left: 0;
	height: 100vh;
	width: 100vw; */
}

.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}

.modal {
	background-color: #fff;
	border-radius: 5px;
	width: 200px;
	max-width: 100%;
	text-align: center;
	border: solid thin red;
	display: flex;
    flex-direction: column;
	align-items: center;
}

	.damage-type{
		width: 75px;
		justify-content: center;
		text-align: center;
	}

	.damage-dice {
		padding-left: 10px;
	}

	
button {
	background-color: rgb(79, 7, 7);
	color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 0;
	border-radius: 5px;
	padding: 8px 15px;
	
}

/* ------------------------ */