/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }


  textarea {
    resize: none;
  }

  /* ul input {
    width: 30px;
  } */
  
  input {
	display: flex;
	text-align: center;
}

/* containers */
	/* cont 1 */
 .container-1 {
	display: flex;
	flex-direction: row;
 }
  	
/* cont 2 */
.container-2 {
	display: flex;
	flex-direction: row;
}

  .hp-wrapper {
	border: solid thin red;
	width: 20%;
  }

  .perception-wrapper{
	border: solid thin red;
	width: 10%;
  }

  /* cont 3 */
.container-3 {
	display: flex;
	flex-direction: row;
}

  

  .weaponprof-wrapper{
	border: solid thin red;
  }

  .skills-wrapper{
	border: solid thin red;
  }




/* Header - name,level,xp,ancestry,background,heritage,class,size,alignment,traits,deity,hero-points */
.char-wrapper{
	border: solid thin red;
	display: flex;
	flex-direction:	row;
	width: 30%;
	line-height: 30px;
	
	align-items: center;
  }

.container-1 
span {
	display: flex;
	justify-content: center;
}

.container-1 
ul {
	width: 100%;
}

.container-1 
li {	
    display: flex;
    flex-direction: column;
}

.container-1 
.larger-input {
	width: 50%;
}

.container-1 input {
	display: flex;
	align-self: center;
	width: 60px;
	text-align: center;
}

/* ancestry */

.ancestry-wrapper {
	border: solid thin darkgreen;
	display: flex;
	flex-direction: column;
	width: 70%;
  }

.ancestry {
	display: flex;	
	width: 100%;
	line-height: 30px;
}

.ancestry span {
	justify-content: start;
	
}

.ancestry
input {
	align-self: flex-start;
}

.ancestry
textarea {
	width: 50%;
}

.group-1 {
	display: flex;	
	justify-content: center;
	width: 60%;
}

.group-1
select {
	width: 100px;
	text-align: center;
}

.group-1
span {
	justify-content: flex-start;
	width: 50%;
}
.group-1
li {
	flex-direction:column;
}

.group-1
.traits {
	width: 100%;
}

/* Ability scores, AC, HP, Percep */

.ability-wrapper{
	border: solid thin red;	
	width: 20%;
	display: flex;
	justify-content: center;
	line-height: 30px;
  }

  /* .group-2{
	display: flex;
	flex-direction: column;
  } */

.ability-wrapper
ul {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.ability-wrapper
li {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
/* FIGURE OUT STUPID BOXES */

.ability-wrapper
input {
	width: 40px ;
	text-align: center;
}

/* Armor */

.armor-wrapper {
	border: solid thin red;
	width:50%;
	line-height: 30px;
	display: flex;
	flex-direction: column;
  }

  .armor-wrapper > span {
	text-align: center;
  }

  .armor-wrapper
  input {
	width: 40px;
  }

  	.ac-wrapper {
		display: flex;
		justify-content: space-evenly;		
	}

	.ac-wrapper
	li {
		display: flex;
		flex-direction: row;
		margin: 5px 0;
	}

	.armor-type-wrapper {
		display: flex;
		flex-direction: row;
		line-height: normal;
		margin: 10px 0;
		justify-content: space-evenly;
	}
		.armor-type-wrapper
		li {
			text-align: center;
		}
	/*shield info  */
	.shield-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

		.shield-wrapper
		input,li {
			display: flex;			
			justify-content: center;
		}

		/* saving throws */
.saves-header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.saves-wrapper {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
